table.diff {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    border:medium
}
.diff_header {
    background-color:#e0e0e0
}
td.diff_header {
    text-align:right
}
.diff_next {
    background-color:#c0c0c0
}
.diff_add {
    background-color:#aaffaa
}
.diff_chg {
    background-color:#ffff77
}
.diff_sub {
    background-color:#ffaaaa
}

.dark {
    .diff_header {
        background-color:gray
    }
    .diff_next {
        background-color:dimgray
    }
    .diff_add {
        background-color:green
    }
    .diff_chg {
        background-color:goldenrod
    }
    .diff_sub {
        background-color:deeppink
    }
}